extends ../layout

block content
  .buffer
  .container
    form.form-horizontal(action='/books', method='POST')
      .row
        .col-md-10.col-md-offset-1
          fieldset
            legend New Book
      .row
        .col-md-6
          .control-group
            label.control-label(for='title') Title
            .controls
              input.form-control.input-lg(type='text', name='title', placeholder='King Lear')
              p.help-block Please enter the book's title
          .control-group
            label.control-label(for='author1') Author
            .controls
              select#author1.form-control.input-lg(type='text', name='author1', placeholder='William Shakespear')
                each authorbook in authorbooks
                  option(val='#{authorbook.author.first_name} #{authorbook.author.last_name}')= authorbook.author.first_name + ' ' + authorbook.author.last_name
              p.help-block Please select an author
          .control-group#secondAuthor
            .controls
              button#moreAuthor.btn.btn-default(type='submit') Add Second Author
        .col-md-6
          .control-group
            label.control-label(for='genre') Genre
            .controls
              input.form-control.input-lg(type='text', name='genre', placeholder='Tragedy')
              p.help-block Please enter a genre
          .control-group
            label.control-label(for='cover_url') Cover URL
            .controls
              input.form-control.input-lg(type='text', name='cover_url', placeholder='http://example.com')
              p.help-block Please enter a url
          .control-group
            label.control-label(for='description') Description
            .controls
              textarea.form-control.input-lg(type='text', name='description', placeholder='blah, blah, blah' rows=6)
              p.help-block Please enter a brief description of the book
      .row
        .control-group
          .controls
            button.btn.btn-success(type='submit') Submit
  script(src='/javascripts/newbook.js')
