block content
  header
    div
      img(src="/images/logo.png" alt="logo" id="logo")
    div.header
      a(href="/" id="header") Galvanize Reads
    if !user
      div.signin
        a(href="/auth/signin")
          p Sign In
    if user
      div
        h4 Hello #{user.name}
      div.logout
        a(href="/auth/logout")
          p Log Out
