block content
  section(class="sidebar")
    a(href="/authors" class="authorSidebar sidebarLink")
      div
        img(src="images/author.png" alt="author" class="sidebarLogo")
        h3(class="sidebarText") Authors
    a(href="/books" class="bookSidebar sidebarLink")
      div
        img(src="images/books.png" alt="book" class="sidebarLogo")
        h3(class="sidebarText") Books
