doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Galvanize Reads
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/ex.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='/javascripts/navbar.js')
  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') Galvanize Reads
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li
                  a(href='/') Home
                li
                  a(href='/books') Books
                li
                  a(href='/authors') Authors
              ul.nav.navbar-nav.navbar-right
                li
                  if user
                    a(href='/auth/signout') Sign Out
                  else
                    a(href='/auth/signin') Sign In
  block content
