doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Galvanize Reads
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/ex.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='/javascripts/navbar.js')
  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') Galvanize Reads
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li
                  a(href='/') Home
                li.dropdown
                  a.dropdown-toggle(href='/authors', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Authors 
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='/authors') All Authors
                    li.divider(role='separator')
                    li
                      a(href='/authors/new') Add New Author
                    li.divider(role='separator')
                    li
                      a(href='#') Something else here
                li.dropdown
                  a.dropdown-toggle(href='/books', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Books 
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='/books') All Books
                    li.divider(role='separator')
                    li
                      a(href='/books/new') Add New Book
                    li.divider(role='separator')
                    li
                      a(href='#') Something else here
              ul.nav.navbar-nav.navbar-right
                if user
                  li
                    a(href='#')= user.email
                  li
                    a.signout(href='/auth/signout') Sign Out
                else
                  li
                    a(href='/auth/signin') Sign In
  block content
