extends layout

block content
  include ./includes/header.jade
  div(class="flex-container")
    include ./includes/sidebar.jade

    div.container
      div.row
        div.col-md-6.col-md-offset-1
          form(action="/authors" method="POST")
            div.form-group
              label First Name
                input.form-control(type="text" placeholder="William")
            div.form-group
              label Last Name
                input.form-control(type="text" placeholder="Shakespear")
            div.form-group
              label Portrait URL
                input.form-control(type="text" placeholder="http://example.url")
            div.form-group
              label Biography
                textarea.form-control(rows="5")
