body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.inverse-dropdown {
  background-color: #222;
  border-color: #080808;
}

.inverse-dropdown li a {
  color: #999;
}

.inverse-dropdown li a:hover {
  color: #fff;
  background-color: #000;
}

.inverse-dropdown > .divider {
  background-color: #000;
}

.signout {
  margin-left: 10px;
  border-left: 1px solid black;
}

/*Add buffer to clear navbar*/

.buffer {
  height: 100px
}

/*Make sub dropdown menu*/

.dropdown-submenu {
  position:relative;

}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
  background-color: #222;
  border-color: #080808;
}

.dropdown-submenu>a:after {
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
  float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 100px;
  }

  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }

  .dropdown-submenu:hover>.dropdown-menu {
      display:block;
  }
}

/* BOOK DETAILS PAGE
-------------------------------------------------- */

.book-single {

}

.book-single h2 {
  font-weight: 300;
  margin-top: 0;
}

.book-single h3 {
  font-weight: 300;
  margin-top: 0;
}

.book-single h4 {
  font-weight: 300;
  margin-bottom: 0;
}

.book-single a {
  margin-right: 1vw;
}

/* AUTHORS PAGE
-------------------------------------------------- */

.authors h2 {
  display: inline-block;
  font-size: 50px;
  font-weight: 300;
  margin-top: 0px;
  letter-spacing: -1px;
  vertical-align: middle;
}

.author-img {
  display: inline-block;
  height: 60px;
  width: auto;
  margin-right: 1vw;
}

/* AUTHOR DETAIL PAGE
-------------------------------------------------- */

.author-single a {
  margin-right: 1vw;
}

/* SIGNIN
----------------------------------------------------*/

.jumbotron {
  text-align: center;
}

/* DELETE MODAL
----------------------------------------------------*/

.modal-content {
  text-align: center;
  width: 50%;
  height: 220px;
  margin: auto;
  top: 25vh;
}

.modal-delete {
  width: 80%;
  margin: 5px;
}

.modal-delete-cancel {
  width: 80%;
  margin: 5px;
}

/* ERRORS
----------------------------------------------------*/

.errors {
  color: red;
}

/* USERS TABLE
---------------------------------------------------*/

.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    color: #3498db;
    outline: none!important;
}
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}

.table-link {
  padding-right: 10px;
}
