body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1vw;
}

.signin {
  padding: .5vw;
  font-size: 1.5vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 80vh;
}

.sidebarLink {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.sidebar :hover {
  background-color: lightgrey;
}

.sidebarLogo {
  width: 6vw;
  height: auto;
  margin: 2vw;
}

.sidebarText {
  transform: rotate(90deg);
  margin-top: 3vw;
  color: black;
  font-size: 2.2vw;
}

.landingParent {
  display: flex;
  flex-direction: row;
  margin: 1vw;
  width: 97vw;
  height: 80vh;
  border: 1px black solid;
  background-color: lightgrey;
}

.landingChild {
  width: 48%;
  height: 96%;
  margin: 1vw;
  border: 1px solid black;
  overflow: hidden;
}

.landingChild div img {
  width: 100%;
  height: 90%
}

.authorLanding {
  padding-left: 5vw;
  padding-top: 5vw;
}

.landingParent :hover {
  background-color: grey;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

#logo {
  width: 5vw;
  height: auto;
  margin-right: 1vw;
}

.header {
  width: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
}

#header {
  font-size: 4vw;
}

.errors {
  color: red;
}
