extends ../layout

block content
  div(class="flex-container")

    div.container
      div.row
        div.col-md-6.col-md-offset-1
          form(action="/authors" method="POST")
            div.form-group
              label First Name
                input.form-control(type="text" name="firstName" value=firstName placeholder="William")
            div.form-group
              label Last Name
                input.form-control(type="text" name="lastName" placeholder="Shakespear")
            div.form-group
              label Portrait URL
                input.form-control(type="text" name="portraitUrl" placeholder="http://example.url")
            div.form-group
              label Biography
                textarea.form-control(rows="5" name="biography")
            div.form-group
              button.submit Submit
